:root {
--primary-text-color: #757575;
--secondary-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
}
body {
    font-family: "Roboto", "arial",
    sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.section {
    padding-bottom: 94px;
    padding-top: 94px;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.cont-header {
    display: flex;
    align-items: center;
}
.border-header {
    border-bottom: 1px solid #ECECEC;
}
.logo{
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}
.logo span {
    color: var(--secondary-text-color);
}
.nav {
    display: flex;
    align-items: center;
}
.nav-header {
    display: flex
}
.nav-header-item:not(:last-child) {
    margin-right: 50px;
}
.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.head-contacts {
    margin-left: auto;
    display: flex;
}
.head-contacts 
.contacts-item:not(:last-child) {
    margin-right: 50px;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.active-page {
    color: var(--accent-color);
}
.contacts {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

.active-page {
    color: var(--accent-color);
}
.main-section {
    background-color: #2F303A;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    align-items: center
}
.main-section-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.main-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;   
}
.main-button:hover,
.main-button:focus {
    background-color: #188CE8;
}
.advantages-title {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantages-item {
    max-width: 270px;
}
.invisible-title {
    display: none;
}
.advantages-text {
    font-weight: 400;
    line-height: 1.71;
}
.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--secondary-text-color);
}
.services-section {
    padding-top: 0;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.staff-section {
    background: #F5F4FA;
}
.staff-title {
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
color: var(--secondary-text-color);
margin-bottom: 50px;
}
.staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.staff-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
    text-align: center;
}
.staff-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
}
.staff-format {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-white-color);
}
.staff-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
.footer {
    background-color: #2F303A;
    font-weight: normal;
    line-height: 1.71;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    text-decoration: none;
    margin-bottom: 20px;
}
.logo-footer span {
    color: var(--primary-white-color);
}
.address-footer {
    color: var(--primary-white-color);
    font-style: normal;
    margin-top: 20px;
}
.contacts-footer{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    margin-top: 9px;
    display: block;
}
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--accent-color);
}
.filter-list {
    display: flex;
    justify-content: center;
}
.filter-list .item:not(:last-child) {
    margin-right: 8px;
}
.filter-button {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 4px;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: #F5F4FA;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

}
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}
.project-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
    font-weight:400;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
}
.project-list-item {
    box-sizing: border-box;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.project-list-item:nth-child(3n) {
    margin-right: 0;
}
.project-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.project-format {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.project-format h3 {
    margin-bottom: 4px;
}
.project-list-item img {
    width: 100%;
    display: block;
}
.padding-section {
    padding-bottom: 0;
}
.project-padding {
    padding-top: 50px;
}

/* color main text #757575 */
/* second color text #212121 */
/* white #FFFFFF */
/* accent #2196F3 */
/* second background color #F5F4FA */